@post-header-bg-color: rgb(3, 66, 102);


.border-radius (@radius) {
	border-radius: @radius;
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
}


li {
	list-style: none;
}

.clearfix {
	display: inline-block;

	&:after {
		content: ".";
		display: block;
		height: 0;
		font-size:0;
		clear: both;
		visibility:hidden;
	}
}

h1 {
	text-align: center;
}

#bbs-contents {
}


/*  ==== Posts list page  ==== */
#post-list {
	div.post-container {
		width: 80%;

		div.post-header {
			color: #eee;
			ul {
				width: 100%;
				margin: 0;
				padding: 0;
				background-color: @post-header-bg-color;

				li {
					float: left;
					margin: 0;
					padding: 0;
					width: 15%;

					img {
						width: 30px;
					}

					&.poster-thumbnail-dummy {
						div {
							width: 30px;
							height: 30px;
						}
					}

					&.post-date {
						width: 25%;
					}
				}
			}
		}

		div.post-body {
			div.post-contents {
				p {
					padding: 20px 30px;
				}
			}
		}
	}
}
