@image-dark-color:   #007730;
@image-color:        #228A4C;
@image-bright-color: #63DB93;

@checkbox-width: 48px;
@checkbox-margin: 10px;

@task-whole-width: @checkbox-margin + @checkbox-width + @task-width;
@task-height: 50px;
@task-width: 400px;
@task-font-size: 150%;
@task-padding: 10px;

@task-background-width: @task-width + 150px;
@task-background-padding: 30px;

@imgurl-checkbox-unchecked: url(../img/checkbox_unchecked.png);
@imgurl-checkbox-checked: url(../img/checkbox_checked.png);
@imgurl-edit: url(../img/edit.png);

@edit-icon-width: 72px;

.border-radius (@radius) {
	border-radius: @radius;
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
}


li {
	list-style: none;
}

.clearfix {
	display: inline-block;

	&:after {
		content: ".";
		display: block;
		height: 0;
		font-size:0;
		clear: both;
		visibility:hidden;
	}
}

h1 {
	text-align: center;
}

#bbs-contents {
	text-align: center;
}
